In [4]:
import pandas as pd
import numpy as np
energy = pd.read_csv('Energy Indicators.csv',skiprows=16,skipfooter=38,engine='python')
energy.drop(energy.columns[[0,1]], axis=1,inplace=True)
energy=energy.dropna(axis=1,how='all')

for col in energy.columns:
    if col[:]=='Energy Supply per capita':
        energy.rename(columns={col:'Energy Supply per Capita'},inplace=True)
    if col[:]=='Renewable Electricity Production':
        energy.rename(columns={col:'% Renewable'},inplace=True)
    energy.rename(columns={ energy.columns[0]: "Country" },inplace=True)
    
energy.dropna(subset=['Country'], how = 'all',inplace=True)

#replace empty values with Nan
energy[['Energy Supply','Energy Supply per Capita','% Renewable']] = energy[['Energy Supply','Energy Supply per Capita','% Renewable']].apply(pd.to_numeric,errors='coerce')      
energy['Energy Supply'] = energy['Energy Supply'].apply(lambda x:x*1000000)

energy['Country'].replace(
    to_replace=['United States of America20','United States Virgin Islands','Bolivia (Plurinational State of)',
               'China2','China, Hong Kong Special Administrative Region3','China, Macao Special Administrative Region4',
               'Denmark5','France6','Greenland7','Indonesia8','Iran (Islamic Republic of)','Italy9',
               'Japan10','Kuwait11','Micronesia (Federated States of)','Netherlands12','Portugal13','Saudi Arabia14',
               'Serbia15','Ukraine18','Venezuela (Bolivarian Republic of)','United Kingdom of Great Britain and Northern Ireland19'],
    value=['United States','United Virgin','Bolivia','China','Hong Kong','China, Macao Special Administrative Region',
          'Denmark','France','Greenland','Indonesia','Iran','Italy','Japan','Kuwait','Micronesia','Netherlands',
          'Portugal','Saudi Arabia','Serbia','Ukraine','Venezuela','United Kingdom'],
    inplace=True
)


GDP = pd.read_csv('world_bank.csv',skiprows=4)
GDP['Country Name'].replace(
    to_replace=['Korea, Rep.','Iran, Islamic Rep.','Hong Kong SAR, China'],
    value=['South Korea','Iran','Hong Kong'],
    inplace=True
)
GDP.dropna(axis=1,how='all',inplace=True)

ScimEn = pd.read_csv("scimagojr.csv")

energy = energy.set_index('Country')
GDP = GDP.set_index('Country Name')
ScimEn = ScimEn.set_index('Country')

intermediate_merge = pd.merge(energy,  GDP , how='outer', left_index=True, right_index=True)
final_merge = pd.merge(intermediate_merge,  ScimEn, how = 'outer' , left_index=True, right_index=True).sort_values(['Rank'],ascending=True)

for i in range(1960,2005):
    final_merge.drop(str(i),axis=1,inplace=True)
    
final_merge.head(15)

cols = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
final_merge = final_merge[cols]

final_merge.head(15)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
China,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0,NaN,93.0,19.75,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13
United States,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0,NaN,286.0,11.57,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13
Japan,3.0,34294.0,34054.0,275980.0,73491.0,8.05,145.0,NaN,149.0,10.23,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12
United Kingdom,4.0,24328.0,23671.0,278694.0,52119.0,11.46,159.0,NaN,124.0,10.60,2.678278e+12,3.063005e+12,2.875463e+12,2.367127e+12,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12
India,5.0,21450.0,21183.0,179494.0,54929.0,8.37,132.0,NaN,26.0,14.97,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12
Russian Federation,6.0,21259.0,20915.0,45629.0,17368.0,2.15,65.0,NaN,214.0,17.29,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12
Germany,7.0,20898.0,20640.0,193676.0,39615.0,9.27,140.0,NaN,165.0,17.90,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363600e+12
Canada,8.0,20689.0,20353.0,285554.0,53955.0,13.80,165.0,NaN,296.0,61.95,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12
France,9.0,15584.0,15387.0,173959.0,37411.0,11.16,129.0,NaN,166.0,17.02,2.325012e+12,2.663113e+12,2.923466e+12,2.693827e+12,2.646837e+12,2.862680e+12,2.681416e+12,2.808511e+12,2.849305e+12,2.433562e+12
South Korea,10.0,14037.0,13952.0,151281.0,29670.0,10.78,116.0,NaN,NaN,NaN,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Italy,11.0,13662.0,13457.0,154242.0,37030.0,11.29,121.0,NaN,109.0,33.67,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.824902e+12
Spain,12.0,11002.0,10886.0,167492.0,31489.0,15.22,130.0,NaN,NaN,NaN,1.264551e+12,1.479342e+12,1.634989e+12,1.499075e+12,1.431588e+12,1.488017e+12,1.335946e+12,1.361776e+12,1.375856e+12,1.192955e+12
Iran,13.0,10969.0,10872.0,94111.0,31251.0,8.58,85.0,NaN,119.0,5.71,2.586457e+11,3.374745e+11,3.971896e+11,3.989781e+11,4.677902e+11,5.920378e+11,5.872094e+11,5.116209e+11,4.253261e+11,3.934361e+11
Australia,14.0,10616.0,10496.0,129788.0,22759.0,12.23,123.0,NaN,NaN,NaN,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12
Brazil,15.0,10599.0,10521.0,84010.0,20271.0,7.93,97.0,NaN,59.0,69.65,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12

In [114]:
import pandas as pd
import numpy as np
energy = pd.read_csv('Energy1.csv')
#energy.rename(columns={ energy.columns[0]: "Country" },inplace=True)
for col in energy.columns:
    if col[:]=='Energy Supply per capita':
        energy.rename(columns={col:'Energy Supply per Capita'},inplace=True)
    if col[:]=='Renewable Electricity Production':
        energy.rename(columns={col:'% Renewable'},inplace=True)
    energy.rename(columns={ energy.columns[0]: "Country" },inplace=True)
energy.head(10)

               Country Energy Supply Energy Supply per Capita  % Renewable
0          Afghanistan           321                       10        78.67
1              Albania           102                       35       100.00
2              Algeria          1959                       51         0.55
3       American Samoa           ...                      ...         0.64
4              Andorra             9                      121        88.70
5               Angola           642                       27        70.91
6             Anguilla             2                      136         0.00
7  Antigua and Barbuda             8                       84         0.00
8            Argentina          3378                       79        24.06
9              Armenia           143                       48        28.24

In [116]:
#errors='coerce'
energy[['Energy Supply','Energy Supply per Capita','% Renewable']] = energy[['Energy Supply','Energy Supply per Capita','% Renewable']].apply(pd.to_numeric,errors='coerce')      
energy.head(10)

               Country  Energy Supply  Energy Supply per Capita  % Renewable
0          Afghanistan          321.0                      10.0        78.67
1              Albania          102.0                      35.0       100.00
2              Algeria         1959.0                      51.0         0.55
3       American Samoa            NaN                       NaN         0.64
4              Andorra            9.0                     121.0        88.70
5               Angola          642.0                      27.0        70.91
6             Anguilla            2.0                     136.0         0.00
7  Antigua and Barbuda            8.0                      84.0         0.00
8            Argentina         3378.0                      79.0        24.06
9              Armenia          143.0                      48.0        28.24

In [32]:
energy.dtypes

Country                      object
Energy Supply               float64
Energy Supply per Capita    float64
% Renewable                 float64
dtype: object

In [117]:
energy[['Energy Supply','Energy Supply per Capita','% Renewable']] = energy[['Energy Supply','Energy Supply per Capita','% Renewable']].astype(float)

In [38]:
energy.dtypes

Country                      object
Energy Supply               float64
Energy Supply per Capita    float64
% Renewable                 float64
dtype: object

In [118]:
energy['Energy Supply'] = energy['Energy Supply'].apply(lambda x:x*1000000)

In [119]:
energy.head(10)

               Country  Energy Supply  Energy Supply per Capita  % Renewable
0          Afghanistan   3.210000e+08                      10.0        78.67
1              Albania   1.020000e+08                      35.0       100.00
2              Algeria   1.959000e+09                      51.0         0.55
3       American Samoa            NaN                       NaN         0.64
4              Andorra   9.000000e+06                     121.0        88.70
5               Angola   6.420000e+08                      27.0        70.91
6             Anguilla   2.000000e+06                     136.0         0.00
7  Antigua and Barbuda   8.000000e+06                      84.0         0.00
8            Argentina   3.378000e+09                      79.0        24.06
9              Armenia   1.430000e+08                      48.0        28.24

In [120]:
energy['Country'].replace(
    to_replace=['United States of America20','United States Virgin Islands','Bolivia (Plurinational State of)',
               'China2','China, Hong Kong Special Administrative Region3','China, Macao Special Administrative Region4',
               'Denmark5','France6','Greenland7','Indonesia8','Iran (Islamic Republic of)','Italy9',
               'Japan10','Kuwait11','Micronesia (Federated States of)','Netherlands12','Portugal13','Saudi Arabia14',
               'Serbia15','Ukraine18','Venezuela (Bolivarian Republic of)','United Kingdom of Great Britain and Northern Ireland19'],
    value=['United States','United Virgin','Bolivia','China','Hong Kong','China, Macao Special Administrative Region',
          'Denmark','France','Greenland','Indonesia','Iran','Italy','Japan','Kuwait','Micronesia','Netherlands',
          'Portugal','Saudi Arabia','Serbia','Ukraine','Venezuela','United Kingdom'],
    inplace=True
)

In [122]:
energy.loc[energy['Country'] == 'United Kingdom']

            Country  Energy Supply  Energy Supply per Capita  % Renewable
214  United Kingdom   7.920000e+09                     124.0         10.6

In [481]:
GDP = pd.read_csv('world_bank.csv',skiprows=4)
GDP.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417803e+10,7.549238e+10,8.247091e+10,1.041159e+11,1.153984e+11,1.249121e+11,1.267769e+11,1.029622e+11,8.963316e+10,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.278103e+10,1.321986e+10,1.139037e+10,1.192689e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.001201e+09,3.650083e+09,3.346517e+09,3.427023e+09,3.146152e+09,3.248925e+09,NaN,NaN,NaN,NaN
5,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.077707e+12,1.795472e+12,2.109224e+12,2.501943e+12,2.740536e+12,2.838294e+12,2.904405e+12,2.561130e+12,2.500932e+12,NaN
6,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.154746e+11,2.535474e+11,2.898804e+11,3.509084e+11,3.748180e+11,3.904273e+11,4.031977e+11,3.579492e+11,3.487433e+11,NaN
7,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,3.615580e+11,3.329765e+11,4.236274e+11,5.301633e+11,5.459824e+11,5.520251e+11,5.263197e+11,5.847115e+11,5.458662e+11,NaN
8,Armenia,ARM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166204e+10,8.647937e+09,9.260285e+09,1.014211e+10,1.061932e+10,1.112147e+10,1.160951e+10,1.052918e+10,1.054733e+10,NaN
9,American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+08,6.780000e+08,5.760000e+08,5.740000e+08,6.440000e+08,6.390000e+08,6.380000e+08,6.410000e+08,NaN,NaN

In [484]:
GDP['Country Name'].replace(
    to_replace=['Korea, Rep.','Iran, Islamic Rep.','Hong Kong SAR, China'],
    value=['South Korea','Iran','Hong Kong'],
    inplace=True
)
#GDP.dropna(axis=1, how='all')

In [483]:
GDP.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
1961              float64
1962              float64
1963              float64
1964              float64
1965              float64
1966              float64
1967              float64
1968              float64
1969              float64
1970              float64
1971              float64
1972              float64
1973              float64
1974              float64
1975              float64
1976              float64
1977              float64
1978              float64
1979              float64
1980              float64
1981              float64
1982              float64
1983              float64
1984              float64
1985              float64
                   ...
1988              float64
1989              float64
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
Unnamed: 61       float64
Length: 62, dtype: object

In [137]:
+
ScimEn.head(10)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,147887,147512,856806,583858,5.79,162
1,2,United States,113579,111426,1085684,370574,9.56,259
2,3,Japan,34294,34054,275980,73491,8.05,145
3,4,United Kingdom,24328,23671,278694,52119,11.46,159
4,5,India,21450,21183,179494,54929,8.37,132
5,6,Russian Federation,21259,20915,45629,17368,2.15,65
6,7,Germany,20898,20640,193676,39615,9.27,140
7,8,Canada,20689,20353,285554,53955,13.80,165
8,9,France,15584,15387,173959,37411,11.16,129
9,10,South Korea,14037,13952,151281,29670,10.78,116

In [138]:
ScimEn.dtypes

Rank                        int64
Country                    object
Documents                   int64
Citable documents           int64
Citations                   int64
Self-citations              int64
Citations per document    float64
H index                     int64
dtype: object

In [166]:
energy = energy.set_index('Country')
energy.head(2)

             index  Energy Supply  Energy Supply per Capita  % Renewable
Country
Afghanistan      0    321000000.0                      10.0        78.67
Albania          1    102000000.0                      35.0       100.00

In [476]:
GDP = GDP.set_index('Country Name')
GDP.head(2)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10,NaN

In [167]:
ScimEn = ScimEn.set_index('Country')
ScimEn.head(2)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,147887,147512,856806,583858,5.79,162
United States,2,113579,111426,1085684,370574,9.56,259

In [224]:
intermediate_merge = pd.merge(energy,  GDP , how='outer', left_index=True, right_index=True)

In [225]:
final_merge = pd.merge(intermediate_merge,  ScimEn, how = 'outer' , left_index=True, right_index=True).sort_values(['Rank'],ascending=True)
  #.drop(range(1960,2005), axis=1)

In [226]:
final_merge.head(15)

,index,Energy Supply,Energy Supply per Capita,% Renewable,Country Code,Indicator Name,Indicator Code,1960,1961,1962,...,2015,2016,Unnamed: 61,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
China,42.0,1.271910e+11,93.0,19.75,CHN,GDP (current US$),NY.GDP.MKTP.CD,5.971647e+10,5.005687e+10,4.720936e+10,...,1.106466e+13,1.119915e+13,NaN,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0
United States,216.0,9.083800e+10,286.0,11.57,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,6.051000e+11,...,1.803665e+13,1.856910e+13,NaN,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0
Japan,105.0,1.898400e+10,149.0,10.23,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.430734e+10,5.350862e+10,6.072302e+10,...,4.383076e+12,4.939384e+12,NaN,3.0,34294.0,34054.0,275980.0,73491.0,8.05,145.0
United Kingdom,214.0,7.920000e+09,124.0,10.60,GBR,GDP (current US$),NY.GDP.MKTP.CD,7.232805e+10,7.669436e+10,8.060194e+10,...,2.861091e+12,2.618886e+12,NaN,4.0,24328.0,23671.0,278694.0,52119.0,11.46,159.0
India,96.0,3.319500e+10,26.0,14.97,IND,GDP (current US$),NY.GDP.MKTP.CD,3.653593e+10,3.870910e+10,4.159907e+10,...,2.111751e+12,2.263523e+12,NaN,5.0,21450.0,21183.0,179494.0,54929.0,8.37,132.0
Russian Federation,168.0,NaN,214.0,17.29,RUS,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,...,1.365865e+12,1.283162e+12,NaN,6.0,21259.0,20915.0,45629.0,17368.0,2.15,65.0
Germany,79.0,1.326100e+10,165.0,17.90,DEU,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,...,3.363600e+12,3.466757e+12,NaN,7.0,20898.0,20640.0,193676.0,39615.0,9.27,140.0
Canada,37.0,NaN,296.0,61.95,CAN,GDP (current US$),NY.GDP.MKTP.CD,4.109345e+10,4.076797e+10,4.197885e+10,...,1.552808e+12,1.529760e+12,NaN,8.0,20689.0,20353.0,285554.0,53955.0,13.80,165.0
France,73.0,1.059700e+10,166.0,17.02,FRA,GDP (current US$),NY.GDP.MKTP.CD,6.265147e+10,6.834674e+10,7.631378e+10,...,2.433562e+12,2.465454e+12,NaN,9.0,15584.0,15387.0,173959.0,37411.0,11.16,129.0
South Korea,NaN,NaN,NaN,NaN,KOR,GDP (current US$),NY.GDP.MKTP.CD,3.957874e+09,2.417238e+09,2.813934e+09,...,1.382764e+12,1.411246e+12,NaN,10.0,14037.0,13952.0,151281.0,29670.0,10.78,116.0
Italy,103.0,6.530000e+09,109.0,33.67,ITA,GDP (current US$),NY.GDP.MKTP.CD,4.038529e+10,4.484276e+10,5.038389e+10,...,1.824902e+12,1.849970e+12,NaN,11.0,13662.0,13457.0,154242.0,37030.0,11.29,121.0
Spain,NaN,NaN,NaN,NaN,ESP,GDP (current US$),NY.GDP.MKTP.CD,1.207213e+10,1.383430e+10,1.613855e+10,...,1.192955e+12,1.232088e+12,NaN,12.0,11002.0,10886.0,167492.0,31489.0,15.22,130.0
Iran,98.0,NaN,119.0,5.71,IRN,GDP (current US$),NY.GDP.MKTP.CD,4.199134e+09,4.426949e+09,4.693566e+09,...,3.934361e+11,NaN,NaN,13.0,10969.0,10872.0,94111.0,31251.0,8.58,85.0
Australia,NaN,NaN,NaN,NaN,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.859335e+10,1.966626e+10,1.991152e+10,...,1.345383e+12,1.204616e+12,NaN,14.0,10616.0,10496.0,129788.0,22759.0,12.23,123.0
Brazil,28.0,1.214900e+10,59.0,69.65,BRA,GDP (current US$),NY.GDP.MKTP.CD,1.516557e+10,1.523685e+10,1.992629e+10,...,1.803653e+12,1.796187e+12,NaN,15.0,10599.0,10521.0,84010.0,20271.0,7.93,97.0

In [208]:

for i in range(1960,2015):
    final_merge.drop(str(i),axis=1,inplace=True)

In [209]:
final_merge.head(15)

,index,Energy Supply,Energy Supply per Capita,% Renewable,Country Code,Indicator Name,Indicator Code,2015,2016,Unnamed: 61,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
China,42.0,1.271910e+11,93.0,19.75,CHN,GDP (current US$),NY.GDP.MKTP.CD,1.106466e+13,1.119915e+13,NaN,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0
United States,216.0,9.083800e+10,286.0,11.57,USA,GDP (current US$),NY.GDP.MKTP.CD,1.803665e+13,1.856910e+13,NaN,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0
Japan,105.0,1.898400e+10,149.0,10.23,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.383076e+12,4.939384e+12,NaN,3.0,34294.0,34054.0,275980.0,73491.0,8.05,145.0
United Kingdom,214.0,7.920000e+09,124.0,10.60,GBR,GDP (current US$),NY.GDP.MKTP.CD,2.861091e+12,2.618886e+12,NaN,4.0,24328.0,23671.0,278694.0,52119.0,11.46,159.0
India,96.0,3.319500e+10,26.0,14.97,IND,GDP (current US$),NY.GDP.MKTP.CD,2.111751e+12,2.263523e+12,NaN,5.0,21450.0,21183.0,179494.0,54929.0,8.37,132.0
Russian Federation,168.0,NaN,214.0,17.29,RUS,GDP (current US$),NY.GDP.MKTP.CD,1.365865e+12,1.283162e+12,NaN,6.0,21259.0,20915.0,45629.0,17368.0,2.15,65.0
Germany,79.0,1.326100e+10,165.0,17.90,DEU,GDP (current US$),NY.GDP.MKTP.CD,3.363600e+12,3.466757e+12,NaN,7.0,20898.0,20640.0,193676.0,39615.0,9.27,140.0
Canada,37.0,NaN,296.0,61.95,CAN,GDP (current US$),NY.GDP.MKTP.CD,1.552808e+12,1.529760e+12,NaN,8.0,20689.0,20353.0,285554.0,53955.0,13.80,165.0
France,73.0,1.059700e+10,166.0,17.02,FRA,GDP (current US$),NY.GDP.MKTP.CD,2.433562e+12,2.465454e+12,NaN,9.0,15584.0,15387.0,173959.0,37411.0,11.16,129.0
South Korea,NaN,NaN,NaN,NaN,KOR,GDP (current US$),NY.GDP.MKTP.CD,1.382764e+12,1.411246e+12,NaN,10.0,14037.0,13952.0,151281.0,29670.0,10.78,116.0
Italy,103.0,6.530000e+09,109.0,33.67,ITA,GDP (current US$),NY.GDP.MKTP.CD,1.824902e+12,1.849970e+12,NaN,11.0,13662.0,13457.0,154242.0,37030.0,11.29,121.0
Spain,NaN,NaN,NaN,NaN,ESP,GDP (current US$),NY.GDP.MKTP.CD,1.192955e+12,1.232088e+12,NaN,12.0,11002.0,10886.0,167492.0,31489.0,15.22,130.0
Iran,98.0,NaN,119.0,5.71,IRN,GDP (current US$),NY.GDP.MKTP.CD,3.934361e+11,NaN,NaN,13.0,10969.0,10872.0,94111.0,31251.0,8.58,85.0
Australia,NaN,NaN,NaN,NaN,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.345383e+12,1.204616e+12,NaN,14.0,10616.0,10496.0,129788.0,22759.0,12.23,123.0
Brazil,28.0,1.214900e+10,59.0,69.65,BRA,GDP (current US$),NY.GDP.MKTP.CD,1.803653e+12,1.796187e+12,NaN,15.0,10599.0,10521.0,84010.0,20271.0,7.93,97.0

In [213]:
set_column_sequence(final_merge, [ ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']])

NameError: name 'set_column_sequence' is not defined

In [211]:
final_merge.columns

Index([u'index', u'Energy Supply', u'Energy Supply per Capita', u'% Renewable',
       u'Country Code', u'Indicator Name', u'Indicator Code', u'2015', u'2016',
       u'Unnamed: 61', u'Rank', u'Documents', u'Citable documents',
       u'Citations', u'Self-citations', u'Citations per document', u'H index'],
      dtype='object')

In [212]:
final_merge.head(2)

,index,Energy Supply,Energy Supply per Capita,% Renewable,Country Code,Indicator Name,Indicator Code,2015,2016,Unnamed: 61,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
China,42.0,1.271910e+11,93.0,19.75,CHN,GDP (current US$),NY.GDP.MKTP.CD,1.106466e+13,1.119915e+13,NaN,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0
United States,216.0,9.083800e+10,286.0,11.57,USA,GDP (current US$),NY.GDP.MKTP.CD,1.803665e+13,1.856910e+13,NaN,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0

In [214]:
df = final_merge[ ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

KeyError: "['2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'] not in index"

In [365]:
df = set_column_sequence(final_merge['Rank', 'Documents', 'Citable documents'])

NameError: name 'set_column_sequence' is not defined

In [366]:
final_merge.head(10)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
China,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0,1.271910e+11,93.0,19.75,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13
United States,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0,9.083800e+10,286.0,11.57,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13
Japan,3.0,34294.0,34054.0,275980.0,73491.0,8.05,145.0,1.898400e+10,149.0,10.23,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12
United Kingdom,4.0,24328.0,23671.0,278694.0,52119.0,11.46,159.0,7.920000e+09,124.0,10.60,2.678278e+12,3.063005e+12,2.875463e+12,2.367127e+12,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12
India,5.0,21450.0,21183.0,179494.0,54929.0,8.37,132.0,3.319500e+10,26.0,14.97,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12
Russian Federation,6.0,21259.0,20915.0,45629.0,17368.0,2.15,65.0,NaN,214.0,17.29,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12
Germany,7.0,20898.0,20640.0,193676.0,39615.0,9.27,140.0,1.326100e+10,165.0,17.90,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363600e+12
Canada,8.0,20689.0,20353.0,285554.0,53955.0,13.80,165.0,NaN,296.0,61.95,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12
France,9.0,15584.0,15387.0,173959.0,37411.0,11.16,129.0,1.059700e+10,166.0,17.02,2.325012e+12,2.663113e+12,2.923466e+12,2.693827e+12,2.646837e+12,2.862680e+12,2.681416e+12,2.808511e+12,2.849305e+12,2.433562e+12
South Korea,10.0,14037.0,13952.0,151281.0,29670.0,10.78,116.0,NaN,NaN,NaN,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12

In [218]:
final_merge = final_merge['Rank','Energy Supply']

KeyError: ('Rank', 'Energy Supply')

In [367]:
cols = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
final_merge = final_merge[cols]

In [242]:
final_merge.shape[0] - 15

306

In [244]:
def answer_two():

        return final_merge.shape[0] - 15

In [245]:
answer_two()

306

In [368]:
result_df = final_merge.head(15)

In [369]:
result_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
China,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0,1.271910e+11,93.0,19.75,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13
United States,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0,9.083800e+10,286.0,11.57,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13
Japan,3.0,34294.0,34054.0,275980.0,73491.0,8.05,145.0,1.898400e+10,149.0,10.23,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12
United Kingdom,4.0,24328.0,23671.0,278694.0,52119.0,11.46,159.0,7.920000e+09,124.0,10.60,2.678278e+12,3.063005e+12,2.875463e+12,2.367127e+12,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12
India,5.0,21450.0,21183.0,179494.0,54929.0,8.37,132.0,3.319500e+10,26.0,14.97,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12
Russian Federation,6.0,21259.0,20915.0,45629.0,17368.0,2.15,65.0,NaN,214.0,17.29,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12
Germany,7.0,20898.0,20640.0,193676.0,39615.0,9.27,140.0,1.326100e+10,165.0,17.90,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363600e+12
Canada,8.0,20689.0,20353.0,285554.0,53955.0,13.80,165.0,NaN,296.0,61.95,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12
France,9.0,15584.0,15387.0,173959.0,37411.0,11.16,129.0,1.059700e+10,166.0,17.02,2.325012e+12,2.663113e+12,2.923466e+12,2.693827e+12,2.646837e+12,2.862680e+12,2.681416e+12,2.808511e+12,2.849305e+12,2.433562e+12
South Korea,10.0,14037.0,13952.0,151281.0,29670.0,10.78,116.0,NaN,NaN,NaN,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Italy,11.0,13662.0,13457.0,154242.0,37030.0,11.29,121.0,6.530000e+09,109.0,33.67,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.824902e+12
Spain,12.0,11002.0,10886.0,167492.0,31489.0,15.22,130.0,NaN,NaN,NaN,1.264551e+12,1.479342e+12,1.634989e+12,1.499075e+12,1.431588e+12,1.488017e+12,1.335946e+12,1.361776e+12,1.375856e+12,1.192955e+12
Iran,13.0,10969.0,10872.0,94111.0,31251.0,8.58,85.0,NaN,119.0,5.71,2.586457e+11,3.374745e+11,3.971896e+11,3.989781e+11,4.677902e+11,5.920378e+11,5.872094e+11,5.116209e+11,4.253261e+11,3.934361e+11
Australia,14.0,10616.0,10496.0,129788.0,22759.0,12.23,123.0,NaN,NaN,NaN,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12
Brazil,15.0,10599.0,10521.0,84010.0,20271.0,7.93,97.0,1.214900e+10,59.0,69.65,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12

In [380]:
result_df[['2006','2007','2008']].mean(axis=1).sort_values(ascending=False)

United States         1.435070e+13
Japan                 4.694517e+12
China                 3.634173e+12
Germany               3.398255e+12
United Kingdom        2.872249e+12
France                2.637197e+12
Italy                 2.178805e+12
Spain                 1.459627e+12
Canada                1.443175e+12
Brazil                1.400183e+12
Russian Federation    1.316827e+12
India                 1.102794e+12
South Korea           1.045565e+12
Australia             8.855574e+11
Iran                  3.311033e+11
dtype: float64

In [381]:
result_df[['2006','2007','2008']].mean(axis=1)

China                 3.634173e+12
United States         1.435070e+13
Japan                 4.694517e+12
United Kingdom        2.872249e+12
India                 1.102794e+12
Russian Federation    1.316827e+12
Germany               3.398255e+12
Canada                1.443175e+12
France                2.637197e+12
South Korea           1.045565e+12
Italy                 2.178805e+12
Spain                 1.459627e+12
Iran                  3.311033e+11
Australia             8.855574e+11
Brazil                1.400183e+12
dtype: float64

In [254]:
def answer_one():
    
    return result_df

def answer_three():
    Top15 = answer_one()
        
    GDP_Sum = 0
    for year in range(2006,2015):
        GDP_Sum = Top15['year'] + GDP_Sum
    avg = GDP_Sum/10
    
    
    return avg

In [255]:
answer_three()

KeyError: 'year'

In [261]:
Top15 = result_df
GDP_Sum = 0
for year in range(2006,2015):
    GDP_Sum = Top15[str(year)] + GDP_Sum
avg = GDP_Sum/10

In [264]:
avg

China                 5.833579e+12
United States         1.381930e+13
Japan                 4.738015e+12
United Kingdom        2.438672e+12
India                 1.383174e+12
Russian Federation    1.519424e+12
Germany               3.196334e+12
Canada                1.456259e+12
France                2.445417e+12
South Korea           1.027534e+12
Italy                 1.947797e+12
Spain                 1.287114e+12
Iran                  3.976272e+11
Australia             1.068225e+12
Brazil                1.808663e+12
dtype: float64

In [382]:
def answer_thre():
    Top15 = answer_one()
    #because .mean() ignores missing values by default:
    return Top15[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']].mean(axis=1).sort_values(ascending=False)

In [383]:
answer_thre()

United States         1.562297e+13
China                 6.940046e+12
Japan                 5.176323e+12
Germany               3.532694e+12
United Kingdom        2.724782e+12
France                2.688773e+12
Italy                 2.130288e+12
Brazil                1.989028e+12
Russian Federation    1.656010e+12
Canada                1.611540e+12
India                 1.594349e+12
Spain                 1.406409e+12
Australia             1.202763e+12
South Korea           1.165810e+12
Iran                  4.369708e+11
dtype: float64

In [527]:
avgGDP = result_df[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']].mean(axis=1).sort_values(ascending=False)
avgGDP

United States         1.562297e+13
China                 6.940046e+12
Japan                 5.176323e+12
Germany               3.532694e+12
United Kingdom        2.724782e+12
France                2.688773e+12
Italy                 2.130288e+12
Brazil                1.989028e+12
Russian Federation    1.656010e+12
Canada                1.611540e+12
India                 1.594349e+12
Spain                 1.406409e+12
Australia             1.202763e+12
South Korea           1.165810e+12
Iran                  4.369708e+11
dtype: float64

In [444]:

avgGDP[avgGDP == avgGDP.iloc[5]].index[0]

'France'

In [518]:
type(avgGDP)

pandas.core.series.Series

In [472]:
GDP.head(10)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61,Country Name
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,France
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10,NaN,France
Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549238e+10,8.247091e+10,1.041159e+11,1.153984e+11,1.249121e+11,1.267769e+11,1.029622e+11,8.963316e+10,NaN,France
Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.278103e+10,1.321986e+10,1.139037e+10,1.192689e+10,NaN,France
Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.650083e+09,3.346517e+09,3.427023e+09,3.146152e+09,3.248925e+09,NaN,NaN,NaN,NaN,France
Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.795472e+12,2.109224e+12,2.501943e+12,2.740536e+12,2.838294e+12,2.904405e+12,2.561130e+12,2.500932e+12,NaN,France
United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.535474e+11,2.898804e+11,3.509084e+11,3.748180e+11,3.904273e+11,4.031977e+11,3.579492e+11,3.487433e+11,NaN,France
Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,2.863047e+10,...,3.329765e+11,4.236274e+11,5.301633e+11,5.459824e+11,5.520251e+11,5.263197e+11,5.847115e+11,5.458662e+11,NaN,France
Armenia,ARM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.647937e+09,9.260285e+09,1.014211e+10,1.061932e+10,1.112147e+10,1.160951e+10,1.052918e+10,1.054733e+10,NaN,France
American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.780000e+08,5.760000e+08,5.740000e+08,6.440000e+08,6.390000e+08,6.380000e+08,6.410000e+08,NaN,NaN,France

In [466]:
pd.merge(GDP,avgGDP.to_frame(),how='inner', left_index=True, right_index=True)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61,Country Name,0
Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,...,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12,NaN,France,1.202763e+12
Brazil,BRA,GDP (current US$),NY.GDP.MKTP.CD,1.516557e+10,1.523685e+10,1.992629e+10,2.302148e+10,2.121189e+10,2.179004e+10,2.706272e+10,...,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12,1.796187e+12,NaN,France,1.989028e+12
Canada,CAN,GDP (current US$),NY.GDP.MKTP.CD,4.109345e+10,4.076797e+10,4.197885e+10,4.465717e+10,4.888294e+10,5.390957e+10,6.035863e+10,...,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12,1.529760e+12,NaN,France,1.611540e+12
China,CHN,GDP (current US$),NY.GDP.MKTP.CD,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,5.970834e+10,7.043627e+10,7.672029e+10,...,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13,1.119915e+13,NaN,France,6.940046e+12
Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363600e+12,3.466757e+12,NaN,France,3.532694e+12
Spain,ESP,GDP (current US$),NY.GDP.MKTP.CD,1.207213e+10,1.383430e+10,1.613855e+10,1.907491e+10,2.134384e+10,2.475696e+10,2.872106e+10,...,1.431588e+12,1.488017e+12,1.335946e+12,1.361776e+12,1.375856e+12,1.192955e+12,1.232088e+12,NaN,France,1.406409e+12
France,FRA,GDP (current US$),NY.GDP.MKTP.CD,6.265147e+10,6.834674e+10,7.631378e+10,8.555111e+10,9.490659e+10,1.021606e+11,1.105975e+11,...,2.646837e+12,2.862680e+12,2.681416e+12,2.808511e+12,2.849305e+12,2.433562e+12,2.465454e+12,NaN,France,2.688773e+12
United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,7.232805e+10,7.669436e+10,8.060194e+10,8.544377e+10,9.338760e+10,1.005958e+11,1.070907e+11,...,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12,2.618886e+12,NaN,France,2.724782e+12
India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.653593e+10,3.870910e+10,4.159907e+10,4.777600e+10,5.572687e+10,5.876042e+10,4.525364e+10,...,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12,2.263523e+12,NaN,France,1.594349e+12
Iran,IRN,GDP (current US$),NY.GDP.MKTP.CD,4.199134e+09,4.426949e+09,4.693566e+09,4.928628e+09,5.379846e+09,6.197320e+09,6.789939e+09,...,4.677902e+11,5.920378e+11,5.872094e+11,5.116209e+11,4.253261e+11,3.934361e+11,NaN,NaN,France,4.369708e+11
Italy,ITA,GDP (current US$),NY.GDP.MKTP.CD,4.038529e+10,4.484276e+10,5.038389e+10,5.771074e+10,6.317542e+10,6.797815e+10,7.365487e+10,...,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.824902e+12,1.849970e+12,NaN,France,2.130288e+12
Japan,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.430734e+10,5.350862e+10,6.072302e+10,6.949813e+10,8.174901e+10,9.095028e+10,1.056281e+11,...,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12,4.939384e+12,NaN,France,5.176323e+12
South Korea,KOR,GDP (current US$),NY.GDP.MKTP.CD,3.957874e+09,2.417238e+09,2.813934e+09,3.988246e+09,3.458518e+09,3.120308e+09,3.928171e+09,...,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12,1.411246e+12,NaN,France,1.165810e+12
Russian Federation,RUS,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.524916e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12,1.283162e+12,NaN,France,1.656010e+12
United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,8.150000e+11,...,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13,1.856910e+13,NaN,France,1.562297e+13

In [487]:
GDP.dropna(axis=1,how='all',inplace=True)

In [494]:
GDP.head(2)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.623726e+09,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,...,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10

In [533]:
#avgGDP.to_frame().reset_index().set_index('Country Name')
#type(avgGDP)
avgGDP = avgGDP.to_frame().rename(columns= {0: 'AvgGDP'})

In [534]:
type(avgGDP)

pandas.core.frame.DataFrame

In [538]:
avgGDP

                          AvgGDP
United States       1.562297e+13
China               6.940046e+12
Japan               5.176323e+12
Germany             3.532694e+12
United Kingdom      2.724782e+12
France              2.688773e+12
Italy               2.130288e+12
Brazil              1.989028e+12
Russian Federation  1.656010e+12
Canada              1.611540e+12
India               1.594349e+12
Spain               1.406409e+12
Australia           1.202763e+12
South Korea         1.165810e+12
Iran                4.369708e+11

In [539]:
GDP.head(2)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.623726e+09,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,...,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10

In [2]:
final_df = pd.merge(GDP,avgGDP,how="outer",left_index=True, right_index=True).sort_values(['AvgGDP'],ascending=False)

NameError: name 'pd' is not defined

In [1]:
resultdf = final_df.iloc[[5]]
resultdf

NameError: name 'final_df' is not defined

In [559]:
final_df['2006']

United States               1.385589e+13
China                       2.752132e+12
Japan                       4.530377e+12
Germany                     3.002446e+12
United Kingdom              2.678278e+12
France                      2.325012e+12
Italy                       1.942634e+12
Brazil                      1.107640e+12
Russian Federation          9.899305e+11
Canada                      1.315415e+12
India                       9.203165e+11
Spain                       1.264551e+12
Australia                   7.475726e+11
South Korea                 1.011797e+12
Iran                        2.586457e+11
Afghanistan                 7.057598e+09
Albania                     8.992642e+09
Algeria                     1.170273e+11
American Samoa              4.960000e+08
Andorra                     3.536633e+09
Angola                      4.178948e+10
Antigua and Barbuda         1.149025e+09
Arab World                  1.404114e+12
Argentina                   2.325573e+11
Armenia                     6.384452e+09
Aruba                       2.421475e+09
Austria                     3.343094e+11
Azerbaijan                  2.098302e+10
Bahamas, The                7.965588e+09
Bahrain                     1.850505e+10
                                ...
Sweden                      4.200321e+11
Switzerland                 4.291956e+11
Syrian Arab Republic        3.333284e+10
Tajikistan                  2.830236e+09
Tanzania                    1.861046e+10
Thailand                    2.217585e+11
Timor-Leste                 4.630000e+08
Togo                        2.202809e+09
Tonga                       2.941377e+08
Trinidad and Tobago         1.836907e+10
Tunisia                     3.437844e+10
Turkey                      5.525050e+11
Turkmenistan                1.027760e+10
Turks and Caicos Islands             NaN
Tuvalu                      2.290286e+07
Uganda                      9.942598e+09
Ukraine                     1.077531e+11
United Arab Emirates        2.221165e+11
Upper middle income         8.886249e+12
Uruguay                     1.957946e+10
Uzbekistan                  1.733083e+10
Vanuatu                     4.393768e+08
Venezuela, RB               1.834775e+11
Vietnam                     6.637166e+10
Virgin Islands (U.S.)       4.504000e+09
West Bank and Gaza          4.910100e+09
World                       5.130676e+13
Yemen, Rep.                 1.908172e+10
Zambia                      1.275686e+10
Zimbabwe                    5.443896e+09
Name: 2006, Length: 264, dtype: float64

In [8]:
def answer_three():
    Top15 = final_merge.head(15)
    
    avgGDP = Top15[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']].mean(axis=1).sort_values(ascending=False)
    return avgGDP

In [9]:
avgGDP = answer_three()

In [10]:
avgGDP

United States         1.562297e+13
China                 6.940046e+12
Japan                 5.176323e+12
Germany               3.532694e+12
United Kingdom        2.724782e+12
France                2.688773e+12
Italy                 2.130288e+12
Brazil                1.989028e+12
Russian Federation    1.656010e+12
Canada                1.611540e+12
India                 1.594349e+12
Spain                 1.406409e+12
Australia             1.202763e+12
South Korea           1.165810e+12
Iran                  4.369708e+11
dtype: float64

In [11]:
GDP.head(2)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.623726e+09,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,...,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10

In [12]:
avgGDP = avgGDP.to_frame().rename(columns= {0: 'AvgGDP'})

In [13]:
avgGDP

                          AvgGDP
United States       1.562297e+13
China               6.940046e+12
Japan               5.176323e+12
Germany             3.532694e+12
United Kingdom      2.724782e+12
France              2.688773e+12
Italy               2.130288e+12
Brazil              1.989028e+12
Russian Federation  1.656010e+12
Canada              1.611540e+12
India               1.594349e+12
Spain               1.406409e+12
Australia           1.202763e+12
South Korea         1.165810e+12
Iran                4.369708e+11

In [16]:
final_df = pd.merge(GDP,avgGDP,how="outer",left_index=True, right_index=True).sort_values(['AvgGDP'],ascending=False)

In [17]:
final_df

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,AvgGDP
United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,8.150000e+11,...,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13,1.856910e+13,1.562297e+13
China,CHN,GDP (current US$),NY.GDP.MKTP.CD,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,5.970834e+10,7.043627e+10,7.672029e+10,...,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13,1.119915e+13,6.940046e+12
Japan,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.430734e+10,5.350862e+10,6.072302e+10,6.949813e+10,8.174901e+10,9.095028e+10,1.056281e+11,...,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12,4.939384e+12,5.176323e+12
Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363600e+12,3.466757e+12,3.532694e+12
United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,7.232805e+10,7.669436e+10,8.060194e+10,8.544377e+10,9.338760e+10,1.005958e+11,1.070907e+11,...,2.875463e+12,2.367127e+12,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12,2.618886e+12,2.724782e+12
France,FRA,GDP (current US$),NY.GDP.MKTP.CD,6.265147e+10,6.834674e+10,7.631378e+10,8.555111e+10,9.490659e+10,1.021606e+11,1.105975e+11,...,2.923466e+12,2.693827e+12,2.646837e+12,2.862680e+12,2.681416e+12,2.808511e+12,2.849305e+12,2.433562e+12,2.465454e+12,2.688773e+12
Italy,ITA,GDP (current US$),NY.GDP.MKTP.CD,4.038529e+10,4.484276e+10,5.038389e+10,5.771074e+10,6.317542e+10,6.797815e+10,7.365487e+10,...,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.824902e+12,1.849970e+12,2.130288e+12
Brazil,BRA,GDP (current US$),NY.GDP.MKTP.CD,1.516557e+10,1.523685e+10,1.992629e+10,2.302148e+10,2.121189e+10,2.179004e+10,2.706272e+10,...,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12,1.796187e+12,1.989028e+12
Russian Federation,RUS,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.660844e+12,1.222644e+12,1.524916e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12,1.283162e+12,1.656010e+12
Canada,CAN,GDP (current US$),NY.GDP.MKTP.CD,4.109345e+10,4.076797e+10,4.197885e+10,4.465717e+10,4.888294e+10,5.390957e+10,6.035863e+10,...,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12,1.529760e+12,1.611540e+12
India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.653593e+10,3.870910e+10,4.159907e+10,4.777600e+10,5.572687e+10,5.876042e+10,4.525364e+10,...,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12,2.263523e+12,1.594349e+12
Spain,ESP,GDP (current US$),NY.GDP.MKTP.CD,1.207213e+10,1.383430e+10,1.613855e+10,1.907491e+10,2.134384e+10,2.475696e+10,2.872106e+10,...,1.634989e+12,1.499075e+12,1.431588e+12,1.488017e+12,1.335946e+12,1.361776e+12,1.375856e+12,1.192955e+12,1.232088e+12,1.406409e+12
Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,...,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12,1.202763e+12
South Korea,KOR,GDP (current US$),NY.GDP.MKTP.CD,3.957874e+09,2.417238e+09,2.813934e+09,3.988246e+09,3.458518e+09,3.120308e+09,3.928171e+09,...,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12,1.411246e+12,1.165810e+12
Iran,IRN,GDP (current US$),NY.GDP.MKTP.CD,4.199134e+09,4.426949e+09,4.693566e+09,4.928628e+09,5.379846e+09,6.197320e+09,6.789939e+09,...,3.971896e+11,3.989781e+11,4.677902e+11,5.920378e+11,5.872094e+11,5.116209e+11,4.253261e+11,3.934361e+11,NaN,4.369708e+11
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10,NaN
Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.278103e+10,1.321986e+10,1.139037e+10,1.192689e+10,NaN
Algeria,DZA,GDP (current US$),NY.GDP.MKTP.CD,2.723649e+09,2.434777e+09,2.001469e+09,2.703015e+09,2.909352e+09,3.136259e+09,3.039835e+09,...,1.710007e+11,1.372110e+11,1.612073e+11,2.000131e+11,2.090474e+11,2.097835e+11,2.139831e+11,1.647795e+11,1.560796e+11,NaN
American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+08,6.780000e+08,5.760000e+08,5.740000e+08,6.440000e+08,6.390000e+08,6.380000e+08,6.410000e+08,NaN,NaN
Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.001201e+09,3.650083e+09,3.346517e+09,3.427023e+09,3.146152e+09,3.248925e+09,NaN,NaN,NaN,NaN
Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417803e+10,7.549238e+10,8.247091e+10,1.041159e+11,1.153984e+11,1.249121e+11,1.267769e+11,1.029622e+11,8.963316e+10,NaN
Antigua and Barbuda,ATG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359734e+09,1.217720e+09,1.147942e+09,1.141865e+09,1.216046e+09,1.195885e+09,1.274330e+09,1.355646e+09,1.449160e+09,NaN
Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.077707e+12,1.795472e+12,2.109224e+12,2.501943e+12,2.740536e+12,2.838294e+12,2.904405e+12,2.561130e+12,2.500932e+12,NaN
Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,2.863047e+10,...,3.615580e+11,3.329765e+11,4.236274e+11,5.301633e+11,5.459824e+11,5.520251e+11,5.263197e+11,5.847115e+11,5.458662e+11,NaN
Armenia,ARM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166204e+10,8.647937e+09,9.260285e+09,1.014211e+10,1.061932e+10,1.112147e+10,1.160951e+10,1.052918e+10,1.054733e+10,NaN
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,1.088768e+10,...,4.276115e+11,3.975943e+11,3.902119e+11,4.290374e+11,4.074516e+11,4.282484e+11,4.383762e+11,3.769674e+11,3.864278e+11,NaN
Azerbaijan,AZE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.885248e+10,4.429149e+10,5.290270e+10,6.595163e+10,6.968432e+10,7.416444e+10,7.524417e+10,5.307437e+10,3.784772e+10,NaN
"Bahamas, The",BHS,GDP (current US$),NY.GDP.MKTP.CD,1.698039e+08,1.900980e+08,2.122549e+08,2.377451e+08,2.666667e+08,3.003922e+08,3.400000e+08,...,8.247000e+09,7.820000e+09,7.910000e+09,7.890000e+09,8.399000e+09,8.522000e+09,8.618000e+09,8.854000e+09,9.047000e+09,NaN
Bahrain,BHR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.571088e+10,2.293822e+10,2.571327e+10,2.915745e+10,3.074931e+10,3.289867e+10,3.338771e+10,3.112585e+10,3.185851e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sweden,SWE,GDP (current US$),NY.GDP.MKTP.CD,1.484287e+10,1.614716e+10,1.751148e+10,1.895413e+10,2.113724e+10,2.326032e+10,2.530203e+10,...,5.139657e+11,4.296570e+11,4.883777e+11,5.631097e+11,5.438806e+11,5.787420e+11,5.738177e+11,4.956944e+11,5.109998e+11,NaN
Switzerland,CHE,GDP (current US$),NY.GDP.MKTP.CD,9.522747e+09,1.071271e+10,1.187998e+10,1.306364e+10,1.448056e+10,1.534674e+10,1.648006e+10,...,5.515470e+11,5.395282e+11,5.812086e+11,6.962787e+11,6.650541e+11,6.848350e+11,7.027055e+11,6.707899e+11,6.598272e+11,NaN
Syrian Arab Republic,SYR,GDP (current US$),NY.GDP.MKTP.CD,8.577044e+08,9.452450e+08,1.110566e+09,1.200447e+09,1.339494e+09,1.472037e+09,1.342288e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tajikistan,TJK,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.161336e+09,4.979482e+09,5.642179e+09,6.522732e+09,7.633050e+09,8.506675e+09,9.236309e+09,7.853450e+09,6.951657e+09,NaN
Tanzania,TZA,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.736839e+10,2.857378e+10,3.140791e+10,3.387863e+10,3.908775e+10,4.433346e+10,4.819722e+10,4.562825e+10,4.743104e+10,NaN
Thailand,THA,GDP (current US$),NY.GDP.MKTP.CD,2.760747e+09,3.034044e+09,3.308913e+09,3.540403e+09,3.889130e+09,4.388938e+09,5.279231e+09,...,2.913831e+11,2.817101e+11,3.411050e+11,3.708187e+11,3.975600e+11,4.205287e+11,4.065216e+11,3.992345e+11,4.068397e+11,NaN
Timor-Leste,TLS,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.940000e+08,8.270000e+08,9.430000e+08,1.148000e+09,1.293000e+09,1.312000e+09,1.399000e+09,1.441719e+09,NaN,NaN
Togo,TGO,GDP (current US$),NY.GDP.MKTP.CD,1.211281e+08,1.263965e+08,1.322374e+08,1.432558e+08,1.661041e+08,1.873003e+08,2.161363e+08,...,3.163416e+09,3.163001e+09,3.172946e+09,3.756023e+09,3.866617e+09,4.080929e+09,4.482880e+09,4.087628e+09,4.399996e+09,NaN
Tonga,TON,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.494596e+08,3.181520e+08,3.694355e+08,4.230159e+08,4.724414e+08,4.493879e+08,4.434751e+08,4.354303e+08,3.951596e+08,NaN
Trinidad and Tobago,TTO,GDP (current US$),NY.GDP.MKTP.CD,5.356701e+08,5.849612e+08,6.193192e+08,6.782354e+08,7.118934e+08,7.365689e+08,7.237356e+08,...,2.787026e+10,1.917520e+10,2.215795e+10,2.543301e+10,2.569416e+10,2.643622e+10,2.617591e+10,2.355929e+10,2.098916e+10,NaN
Tunisia,TUN,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,9.910476e+08,1.040952e+09,...,4.485659e+10,4.345494e+10,4.405093e+10,4.581063e+10,4.504418e+10,4.625531e+10,4.760323e+10,4.315661e+10,4.206255e+10,NaN
Turkey,TUR,GDP (current US$),NY.GDP.MKTP.CD,1.399507e+10,8.022222e+09,8.922222e+09,1.035556e+10,1.117778e+10,1.194444e+10,1.412222e+10,...,7.643229e+11,6.446565e+11,7.718769e+11,8.325465e+11,8.739818e+11,9.505956e+11,9.341678e+11,8.593836e+11,8.577490e+11,NaN
Turkmenistan,TKM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.927152e+10,2.021439e+10,2.258316e+10,2.923333e+10,3.516421e+10,3.919754e+10,4.352421e+10,3.579963e+10,3.617989e+10,NaN
Turks and Caicos Islands,TCA,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,TUV,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.029022e+07,2.710108e+07,3.182352e+07,3.931202e+07,3.987575e+07,3.832236e+07,3.725969e+07,3.267328e+07,3.421888e+07,NaN
Uganda,UGA,GDP (current US$),NY.GDP.MKTP.CD,4.230084e+08,4.415241e+08,4.490126e+08,5.161478e+08,5.890566e+08,8.848739e+08,9.257703e+08,...,1.423903e+10,2.120377e+10,2.017941e+10,2.050860e+10,2.351608e+10,2.487905e+10,2.792788e+10,2.785638e+10,2.552791e+10,NaN
Ukraine,UKR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.799924e+11,1.172278e+11,1.360132e+11,1.631597e+11,1.757814e+11,1.833101e+11,1.335034e+11,9.103096e+10,9.327048e+10,NaN
United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.154746e+11,2.535474e+11,2.898804e+11,3.509084e+11,3.748180e+11,3.904273e+11,4.031977e+11,3.579492e+11,3.487433e+11,NaN
Upper middle income,UMC,GDP (current US$),NY.GDP.MKTP.CD,2.171986e+11,1.981630e+11,2.083890e+11,2.180986e+11,2.461198e+11,2.746629e+11,3.017900e+11,...,1.351884e+13,1.300991e+13,1.577217e+13,1.888475e+13,2.014138e+13,2.147404e+13,2.209962e+13,2.067955e+13,2.047749e+13,NaN
Uruguay,URY,GDP (current US$),NY.GDP.MKTP.CD,1.242289e+09,1.547389e+09,1.710004e+09,1.539682e+09,1.975702e+09,1.890769e+09,1.809184e+09,...,3.036621e+10,3.166091e+10,4.028448e+10,4.796244e+10,5.126439e+10,5.753123e+10,5.723601e+10,5.327430e+10,5.241972e+10,NaN
Uzbekistan,UZB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.954944e+10,3.368922e+10,3.933277e+10,4.591519e+10,5.182157e+10,5.769045e+10,6.306708e+10,6.690380e+10,6.722034e+10,NaN
Vanuatu,VUT,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.079586e+08,6.100666e+08,7.008043e+08,7.921497e+08,7.817029e+08,8.017876e+08,8.149543e+08,7.424321e+08,7.735029e+08,NaN
"Venezuela, RB",VEN,GDP (current US$),NY.GDP.MKTP.CD,8.736939e+09,9.058121e+09,1.002200e+10,1.082388e+10,9.111000e+09,9.496244e+09,9.984400e+09,...,3.159534e+11,3.297876e+11,3.931907e+11,3.164822e+11,3.812862e+11,3.710063e+11,NaN,NaN,NaN,NaN
Vietnam,VNM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.913030e+10,1.060146e+11,1.159317e+11,1.355395e+11,1.558200e+11,1.712220e+11,1.862047e+11,1.932411e+11,2.026159e+11,NaN
Virgin Islands (U.S.),VIR,GDP (current US$),NY.GDP.MKTP.CD,2.420000e+07,2.570000e+07,3.690000e+07,4.140000e+07,5.380000e+07,6.650000e+07,8.410000e+07,...,4.250000e+09,4.203000e+09,4.339000e+09,4.239000e+09,4.095000e+09,3.764000e+09,3.624000e+09,3.765000e+09,NaN,NaN
West Bank and Gaza,PSE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.673500e+09,7.268200e+09,8.913100e+09,1.046540e+10,1.127940e+10,1.247600e+10,1.271560e+10,1.267300e+10,1.339710e+10,NaN
World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.366595e+12,1.421710e+12,1.526880e+12,1.643679e+12,1.800741e+12,1.961944e+12,2.128619e+12,...,6.338636e+13,6.008699e+13,6.590615e+13,7.324172e+13,7.480229e+13,7.692465e+13,7.887012e+13,7.450972e+13,7.554354e+13,NaN
"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322858e+10,3.773392e+10,2.731761e+10,NaN
Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,1.955109e+10,NaN
Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,...,4.415703e+09,8.366794e+09,1.005205e+10,1.207173e+10,1.405838e+10,1.522353e+10,1.583407e+10,1.607238e+10,1.628921e+10,NaN

In [47]:
final_df = final_df[5:6]

In [51]:
final_df['2016'].values[0] - final_df['2006'].values[0]

140442057078.75

In [53]:
final_merge['Energy Suppy per Capita'].mean(axis=1)

KeyError: 'Energy Suppy per Capita'

In [67]:
def answer_five():
    Top15 = final_merge.head(15)
    
    return Top15[['Energy Supply per Capita']].mean().values[0]

In [66]:
final_merge[['Energy Supply per Capita']].mean().values[0]

90.666666666666671

In [68]:
answer_five()

150.5

In [71]:
result_df = final_merge.head(15)

In [72]:
result_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
China,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0,NaN,93.0,19.75,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13
United States,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0,NaN,286.0,11.57,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13
Japan,3.0,34294.0,34054.0,275980.0,73491.0,8.05,145.0,NaN,149.0,10.23,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12
United Kingdom,4.0,24328.0,23671.0,278694.0,52119.0,11.46,159.0,NaN,124.0,10.60,2.678278e+12,3.063005e+12,2.875463e+12,2.367127e+12,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12
India,5.0,21450.0,21183.0,179494.0,54929.0,8.37,132.0,NaN,26.0,14.97,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12
Russian Federation,6.0,21259.0,20915.0,45629.0,17368.0,2.15,65.0,NaN,214.0,17.29,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12
Germany,7.0,20898.0,20640.0,193676.0,39615.0,9.27,140.0,NaN,165.0,17.90,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363600e+12
Canada,8.0,20689.0,20353.0,285554.0,53955.0,13.80,165.0,NaN,296.0,61.95,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12
France,9.0,15584.0,15387.0,173959.0,37411.0,11.16,129.0,NaN,166.0,17.02,2.325012e+12,2.663113e+12,2.923466e+12,2.693827e+12,2.646837e+12,2.862680e+12,2.681416e+12,2.808511e+12,2.849305e+12,2.433562e+12
South Korea,10.0,14037.0,13952.0,151281.0,29670.0,10.78,116.0,NaN,NaN,NaN,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Italy,11.0,13662.0,13457.0,154242.0,37030.0,11.29,121.0,NaN,109.0,33.67,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.824902e+12
Spain,12.0,11002.0,10886.0,167492.0,31489.0,15.22,130.0,NaN,NaN,NaN,1.264551e+12,1.479342e+12,1.634989e+12,1.499075e+12,1.431588e+12,1.488017e+12,1.335946e+12,1.361776e+12,1.375856e+12,1.192955e+12
Iran,13.0,10969.0,10872.0,94111.0,31251.0,8.58,85.0,NaN,119.0,5.71,2.586457e+11,3.374745e+11,3.971896e+11,3.989781e+11,4.677902e+11,5.920378e+11,5.872094e+11,5.116209e+11,4.253261e+11,3.934361e+11
Australia,14.0,10616.0,10496.0,129788.0,22759.0,12.23,123.0,NaN,NaN,NaN,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12
Brazil,15.0,10599.0,10521.0,84010.0,20271.0,7.93,97.0,NaN,59.0,69.65,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12

In [74]:
result_df[['df.loc[df['column_name'] == some_value]']].max()

% Renewable    69.65
dtype: float64

In [76]:
result_df.iloc[result_df['% Renewable'] == result_df[['% Renewable']].max()]

ValueError: Can only compare identically-labeled Series objects

In [83]:
 result_df[['% Renewable']].max()

% Renewable    69.65
dtype: float64

In [79]:
result_df.iloc[result_df['% Renewable']  == 69.65]

ValueError: iLocation based boolean indexing cannot use an indexable as a mask

In [81]:
result_df.loc[result_df['% Renewable'] == 69.65]

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Brazil,15.0,10599.0,10521.0,84010.0,20271.0,7.93,97.0,NaN,59.0,69.65,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12

In [117]:
df = result_df.loc[result_df['% Renewable'] ==  result_df[['% Renewable']].max().values[0]]

In [118]:
df = df['% Renewable']

In [112]:
df1 = pd.DataFrame([df])

tuple(df1.to_records().tolist())

(('% Renewable', 69.65),)

In [105]:
type(sixlist)

list

In [107]:
type(tuple(sixlist))

tuple

In [101]:
myTuple = (1,2,3)

print (myTuple)

(1, 2, 3)

In [120]:
type(df)

pandas.core.series.Series

In [124]:
df

Brazil    69.65
Name: % Renewable, dtype: float64

In [125]:
final_merge.head(2)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
China,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0,NaN,93.0,19.75,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13
United States,2.0,113579.0,111426.0,1085684.0,370574.0,9.56,259.0,NaN,286.0,11.57,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13

In [ ]:
total citation = (citation per document * citable documets + citation)
max ( self-citation/total-citation ) and find the country from that row
return tuple ( country n ratio)