In [2]:
import pandas as pd
pd.Series?

In [5]:
animals=['Tiger','bear','lion']
pd.Series(animals)

0    Tiger
1     bear
2     lion
dtype: object

In [6]:
numbers=[1,2,3,4,5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
animals=['Tiger','bear','lion',None]
pd.Series(animals)

0    Tiger
1     bear
2     lion
3     None
dtype: object

In [8]:
numbers=[1,2,3,4,5,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [9]:
# the above Nan is Not a Number
# Nan is not none and if we try equiality test its false

In [12]:
import numpy as np
np.nan == None

False

In [11]:
# use this to test nan...as np.nan == np.nan is also false...
# nan is similar to None but its  a numeric value and treated diff for efficiency
np.isnan(np.nan)

True

In [13]:
# from Dictionary create pandas Series...if values are strings then dtype is set to object
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
#s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [15]:
# after creating series..we can get index 
s.index

Index([u'Archery', u'Golf', u'Sumo', u'Taekwondo'], dtype='object')

In [17]:
# can create Series by passing index separately as list
s = pd.Series(['Bhutan','Scotland','Japan'],index=['India','Bhutan','Nepal'])
s

India       Bhutan
Bhutan    Scotland
Nepal        Japan
dtype: object

In [19]:
s = pd.Series(['Bhutan','Scotland','Japan'],index=['India','Bhutan'])
s

ValueError: Wrong number of items passed 3, placement implies 2

In [21]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s.iloc[2]

'Japan'

In [22]:
s.loc['Golf']

'Scotland'

In [23]:
s[3]
# if u pass index position, pandas assumes that you wanted to query via iloc...to make language readable

'South Korea'

In [24]:
s['Golf']
# if u pass an object, pandas assumes that you wanted to query using loc attribute as if it is a index label

'Scotland'

In [25]:
sports = {99:'Bhutan',
          100:'India',
          101:'Pak',
        102:'Nepal'}
s = pd.Series(sports)
s

99     Bhutan
100     India
101       Pak
102     Nepal
dtype: object

In [26]:
s[0] 
# error as no index with value o

KeyError: 0L

In [27]:
s.iloc[0]
# call iloc explicity for first item

'Bhutan'

In [29]:
#using all of the values within the Series for manipulation
s = pd.Series([100.0,102.1,99.8])
s

0    100.0
1    102.1
2     99.8
dtype: float64

In [31]:
total = 0
for item in s:
    total += item
    
print total

301.9

In [32]:
# the above is slow
# use vectorisation with numpy library
import numpy as np
total = np.sum(s)
total

301.9

In [33]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    139
1    735
2    420
3    544
4    942
dtype: int32

In [34]:
len(s)

10000

In [35]:
%precision?

In [36]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

100 loops, best of 3: 1.35 ms per loop

In [37]:
%%timeit -n 100
summary = np.sum(s)

The slowest run took 7.12 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 3: 144 µs per loop

In [38]:
s += 2
s.head()

0    141
1    737
2    422
3    546
4    944
dtype: int32

In [39]:
# the above in another way..but might be slower
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    143
1    739
2    424
3    548
4    946
dtype: int32

In [41]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

10 loops, best of 3: 872 ms per loop

In [42]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

10 loops, best of 3: 340 µs per loop

In [43]:
# can add new values
# can be mixed values also
# pandas changes underlying numpy values as appropriate
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [44]:
#Up until now I've shown only examples of a series where the index values were unique. I want to end this lecture by showing an example where index values are not unique, and this makes data frames different, conceptually, that a relational database might be. 
#Revisiting the issue of countries and their national sports, it turns out that many countries seem to like this game cricket. We go back to our original series on sports. It's possible to create a new series object with multiple entries for cricket, and then use append to bring these together. There are a couple of important considerations when using append. First, Pandas is going to take your series and try to infer the best data types to use. In this example, everything is a string, so there's no problems here. 
#Second, the append method doesn't actually change the underlying series. It instead returns a new series which is made up of the two appended together. We can see this by going back and printing the original series of values and seeing that they haven't changed. 
#This is actually a significant issue for new Pandas users who are used to objects being changed in place. So watch out for it, not just with append but with other Pandas functions as well. 


#Finally, we see that when we query the appended series for those who have cricket as their national sport, we don't get a single value, but a series itself. This is actually very common, and if you have a relational database background, this is very similar to every table query resulting in a return set which itself is a table. 
#In this lecture, we focused on one of the primary data types of the Pandas library, the series. There are many more methods associated with this series object that we haven't talked about. But with these basics down, we'll move on to talking about the Panda's two-dimensional data structure, the data frame. The data frame is very similar to the series object, but includes multiple columns of data, and is the structure that you'll spend the majority of your time working with when cleaning and aggregating data. 
#But before we move on to a discussion of the data frame, our tutorial assistant for this course will provide a more in-depth look at how the series object can be used.

In [45]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [46]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [47]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [50]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [51]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [52]:
#DATA FRAME
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [53]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [61]:
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [58]:
df(0)

TypeError: 'DataFrame' object is not callable

In [60]:
df[0]

KeyError: 0

In [62]:
#query above DF for all Items_Purchased
df['Items_Purchased']

KeyError: 'Items_Purchased'

In [63]:
df['Items Purchased']

KeyError: 'Items Purchased'

In [64]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [65]:
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [67]:
df.loc['Store 1','Name']

Store 1    Chris
Store 1    Kevyn
Name: Name, dtype: object

In [68]:
# To get values of one col. there are many ways
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [69]:
# and then 
df.loc['Cost']

KeyError: 'the label [Cost] is not in the [index]'

In [70]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [71]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [72]:
df.loc['Store 1','Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [74]:
#bring value from all rows 
df.loc[:,['Name','Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [75]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [76]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [77]:
df.drop('Store 1')

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [78]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [79]:
df.loc['Cost']

KeyError: 'the label [Cost] is not in the [index]'

In [80]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [81]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [82]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [83]:
df['Cost'] = df['Cost'] * 20

In [84]:
df

          Cost Item Purchased   Name
Store 1  450.0       Dog Food  Chris
Store 1   50.0   Kitty Litter  Kevyn
Store 2  100.0      Bird Seed  Vinod

In [85]:
#update dataframe with 20% discount on all cost column
df['Cost'] *= 0.8
df

          Cost Item Purchased   Name
Store 1  360.0       Dog Food  Chris
Store 1   40.0   Kitty Litter  Kevyn
Store 2   80.0      Bird Seed  Vinod

In [87]:
#create a series fro df and change it ...this affects original df as well
costs = df['Cost']
costs

Store 1    360.0
Store 1     40.0
Store 2     80.0
Name: Cost, dtype: float64

In [88]:
costs *= 2
costs

Store 1    720.0
Store 1     80.0
Store 2    160.0
Name: Cost, dtype: float64

In [89]:
df

          Cost Item Purchased   Name
Store 1  720.0       Dog Food  Chris
Store 1   80.0   Kitty Litter  Kevyn
Store 2  160.0      Bird Seed  Vinod

In [90]:
#so call copy method explicilty

In [91]:
cat mpg.csv

SyntaxError: invalid syntax (<ipython-input-91-4718fa0a7a45>, line 1)

In [92]:
!cat mpg.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [93]:
!more mpg.csv

mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1,cbe,3,5,f,e,50,maruthi,eco,4,1,1989
130,2,chn,4,5,f,e,60,hyndai,i10,4,5,1979

In [95]:
df = pd.read_csv('mpg.csv')
df

,mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1,cbe,3,5,f,e,50,maruthi,eco,4,1,1989
130,2,chn,4,5,f,e,60,hyndai,i10,4,5,1979

In [96]:
df = pd.read_csv('mpg.csv', index_col = 0, skiprows=1)
df.head()

     1  cbe  3  5  f  e  50 maruthi  eco  4  1.1  1989
120
130  2  chn  4  5  f  e  60  hyndai  i10  4    5  1979

In [97]:
df = pd.read_csv('mpg.csv',index_col=0,skip_blank_lines=0)

df

,mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1,cbe,3,5,f,e,50,maruthi,eco,4,1,1989
130,2,chn,4,5,f,e,60,hyndai,i10,4,5,1979

In [98]:
df.columns

Index([u'mpg', u'class', u'cty', u'cyl', u'displ', u'drv', u'fl', u'hwy',
       u'manufacturer', u'model', u'trans', u'year'],
      dtype='object')

In [99]:
for col in df.columns:
    if col[:2]=='mpg':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='class':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='cty':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1,cbe,3,5,f,e,50,maruthi,eco,4,1,1989
130,2,chn,4,5,f,e,60,hyndai,i10,4,5,1979

In [101]:
for col in df.columns:
    if col[:2]=='cty':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1,cbe,3,5,f,e,50,maruthi,eco,4,1,1989
130,2,chn,4,5,f,e,60,hyndai,i10,4,5,1979

In [102]:
# querying DF using Boolan Mask
# countries achieved gold medal at summer olympics
# in our ex car model greater than 1980..returns a boolean series

df['year'] > 1980

120     True
130    False
Name: year, dtype: bool

In [103]:
after_1980 = df.where(df['year'] > 1980)
after_1980

,mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1.0,cbe,3.0,5.0,f,e,50.0,maruthi,eco,4.0,1.0,1989.0
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
after_1980[:].count()

mpg             1
class           1
cty             1
cyl             1
displ           1
drv             1
fl              1
hwy             1
manufacturer    1
model           1
trans           1
year            1
dtype: int64

In [108]:
after_1980 = after_1980.dropna()

In [109]:
after_1980

,mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1.0,cbe,3.0,5.0,f,e,50.0,maruthi,eco,4.0,1.0,1989.0

In [110]:
# to filter out rows with Nan
after_1980 = df[df['year'] > 1980]

In [111]:
after_1980

,mpg,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
120,1,cbe,3,5,f,e,50,maruthi,eco,4,1,1989

In [112]:
#For instance, we could create a mask for all of those countries who have received a gold in the summer Olympics and logically order that with all of those countries who have received a gold in the winter Olympics. If we apply this to the data frame and use the length function to see how many rows there are, we see that there are 101 countries which have won a gold metal at some time. 
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

KeyError: 'Gold'

In [113]:
#Another example for fun. Have there been any countries who have only won a gold in the winter Olympics and never in the summer Olympics? Here's one way to answer that. 
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

KeyError: 'Gold.1'

In [114]:
#write query to return names of poeple who bought products wroth more than $3.00
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [115]:
df['Cost'] > 3.00

Store 1     True
Store 1    False
Store 2     True
Name: Cost, dtype: bool

In [117]:
df['Name'][df['Cost']>3]

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

In [118]:
# INDEXING THE DATA FRAME
#The index is essentially a row level label, and we know that rows correspond to axis zero. In our Olympics data, we indexed the data frame by the name of the country. Indices can either be inferred, such as when we create a new series without an index, in which case we get numeric values, or they can be set explicitly, like when we use the dictionary object to create the series, or when we loaded data from the CSV file and specified the header. Another option for setting an index is to use the set_index function. This function takes a list of columns and promotes those columns to an index. Set index is a destructive process, it doesn't keep the current index. If you want to keep the current index, you need to manually create a new column and copy into it values from the index attribute. Let's go back to our Olympics DataFrame. Let's say that we don't want to index the DataFrame by countries, but instead want to index by the number of gold medals that were won at summer games. First we need to preserve the country information into a new column. We can do this using the indexing operator or the string that has the column label. Then we can use the set_index to set index of the column to summer gold medal wins.

In [119]:
# to change index in olympics csv dataframe...to index with n. of golds
# first preserve the country name as it is the current index
df['country'] = df.index
df = df.set_index('Gold')
df.head()

KeyError: 'Gold'

In [120]:
# reset index promotes the index to column and provides default index column
df = df.reset_index()
df.head()

     index  Cost Item Purchased   Name  country
0  Store 1  22.5       Dog Food  Chris  Store 1
1  Store 1   2.5   Kitty Litter  Kevyn  Store 1
2  Store 2   5.0      Bird Seed  Vinod  Store 2

In [121]:
#Pandas has multilevel indexing

# unique values
df['Cost'].unique()

array([ 22.5,   2.5,   5. ])

In [122]:
# drop unwanted and keep required columns
df=df[df['SUMLEV'] == 50]
df.head()
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

KeyError: 'SUMLEV'

In [123]:

df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

KeyError: 'STNAME'

In [124]:
# if multiple indices
df.loc['Michigan', 'Washtenaw County']
# if multiple indeces and we wanted to query two at same time
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

KeyError: 'the label [Michigan] is not in the [index]'

In [125]:
# Reindex the purchase record df to be indexed hireachically first by store then by
#person. Name these indexex Location and Name and then add new entry to it with value of 
# Name = 'Kewin' and  Item purchased ' Laddu' and cost = 3.00 and store 2
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [126]:
df.loc(Store, Name)

NameError: name 'Store' is not defined

In [127]:
df['Store'] = df.index
df
#df = df.set_index(['Store','Name'])

         Cost Item Purchased   Name    Store
Store 1  22.5       Dog Food  Chris  Store 1
Store 1   2.5   Kitty Litter  Kevyn  Store 1
Store 2   5.0      Bird Seed  Vinod  Store 2

In [134]:
df = df.set_index('Store')
df

KeyError: 'Store'

In [135]:
df

         Cost Item Purchased   Name
Store
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [136]:
df = df.set_index(['Store', 'Name'])
df.head()

KeyError: 'Store'

In [144]:
# solution

purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


df = df.set_index([df.index, 'Name'])
df.index.names = ['Location', 'Name']
df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed
         Kevyn   3.0     Kitty Food

In [145]:
df = df.sort_index()
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Kevyn   3.0     Kitty Food
         Vinod   5.0      Bird Seed